<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <NavLink class="navbar-brand" href="#">Navbar</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var link in navLinks)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@link.Url" Match="NavLinkMatch.All">@link.Text</NavLink>
                    </li>
                }
            </ul>
            <NavLink class="btn btn-primary" href="@navLinks[1].Url">@navLinks[1].Text</NavLink>
        </div>
    </div>
</nav>

@code {

    public List<NavLink> navLinks = new List<NavLink>
    {
        new NavLink { Text = "Home", Url = "/" },
        new NavLink { Text = "Login", Url = "/login" },
        new NavLink { Text = "Register", Url = "/register" }
    };
    public class NavLink
    {
        public string Text { get; set; }
        public string Url { get; set; }
    }
}